.portfolio-container {
	background-color: white;
	position: relative;
	width: 100vw;
	height: 100vh;
}

.jumbotron-container {
	position: relative;
	height: 85%;
	background-color: white;
}

.name-header {
	position: relative;
	top: 30%;
	transform: translateY(-50%);
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	z-index: 5;
}

.jumbotron-buttons-container {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	background-color: red;
	width: 350px;
}
